<div class="container">
  <form class="user_form" role="form">
  	<h2>Resend confirmation instructions</h2>
  	<hr class="colorgraph">

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
 		<%= devise_error_messages! %>

 		<div class="form-group">
    		<%= f.label :email %><br />
    		<%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  		</div>

  		<div class="actions">
    		<%= f.submit "Resend confirmation instructions" %>
  		</div>
		<% end %>
		<hr class="colorgraph">

		<%= render "devise/shared/links" %>
	</form>
</div>
