<div class="container">
  <form class="user_form" role="form">
	  <h2>Forgot your password?</h2>
	  <hr class="colorgraph">

	  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
    	<%= f.label :email, hidden: true %>
    	<%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
    </div>

  	<div class="actions">
    	<%= f.submit "Send me reset password instructions" %>
  	</div>

    <%= render "devise/shared/links" %>
    <% end %>
  </form>
</div>