<div class="container">
  <div class= "row">
    <div class= "col-sm-7 col-xs-12">
      <div class="product-image">
        <%= image_tag(@product.image_url, size: "380") %>
      </div>
    </div>

    <div class= "col-sm-5 col-xs-12">
      <div class="product-info">
        <h3><strong><%= @product.name %></strong></h3>

        <p><div class="rated" data-score=" <%= @product.average_rating %>"> Average Rating </div></p>

        <p><strong>Description: </strong><%= @product.description %></p>

        <p><strong>Color: </strong><%= @product.color %></p>

        <p><strong>Price: € </strong><%= @product.price %></p>
      </div>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>

      <hr>

      <div class="product-rating">
        <h3>Customer Reviews</h3>
          <%= render 'new_comment' %>
          <%= render 'comments' %>
      </div>
      <hr>

      <div class="comment-pages"><%= will_paginate @comments, :page_links => false %></div>
         
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Products', products_path %>  
    </div>
  </div>
</div>




